@font-face {
  font-family: "VictorMono";
  src: local("VictorMono-Light"),
    url("./VictorMono/woff2/VictorMono-Light.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "VictorMono";
  src: local("VictorMono-Regular"),
    url("./VictorMono/woff2/VictorMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "VictorMono";
  src: local("VictorMono-Medium"),
    url("./VictorMono/woff2/VictorMono-Medium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "VictorMono";
  src: local("VictorMono-Bold"),
    url("./VictorMono/woff2/VictorMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
